[Unit]
Description=Verprotect manager
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
LimitNOFILE=65536

ExecStart=/usr/bin/env VERPROTECT_HOME_TMP/bin/verprotect-control start
ExecStop=/usr/bin/env VERPROTECT_HOME_TMP/bin/verprotect-control stop
ExecReload=/usr/bin/env VERPROTECT_HOME_TMP/bin/verprotect-control reload

KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
